@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

html {
  font-size: 12px;
} 

.center {
  font-family: "Roboto", sans-serif;
  position: relative;
  display: inline-block;
  margin-top: 30px;
  left: 25%;
} 

.center .h1{
 text-align: center;
} 

.center .course_anchor{
  text-decoration: none;
  cursor: pointer;
}

.blog_post {
  width: 800px;
  height: 360px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  line-height: 25px;
  /* background: linear-gradient(90deg, #fff, #fff); */
  background-color: #f0f0f0;
  margin: 25px;
}

.blog_post:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container_copy {
  padding: 4.5rem 4rem 5rem 4rem;
}

h3 {
  margin: 0 0 0.5rem 0;
  color: #999;
  font-size: 1.25rem;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  color: #333;
}

p {
  margin: 0 0 4.5rem 0;
  font-size: 1.5rem;
  line-height: 1.45;
  color: #333;
}

.button2 {
  margin-top: -25px;
  display: flex;
  justify-content: space-between;
}

.button2 .calendar {
  letter-spacing: 0.9px;
  border: none;
  width: 170px;
  height: 55px;
  padding: 1.5rem 2rem;
  border-radius: 30px;
  font-size: 1.2rem;
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
  background-color:   #0077B5;
  color: #fff;
} 

.button2 .cal-report {
  letter-spacing: 0.9px;
  border: none;
  /* margin-right: 50px; */
  width: 140px;
  height: 55px;
  padding: 1.5rem 2rem;
  border-radius: 30px;
  font-size: 1.2rem;
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
  background-color: #0077B5;
  color: #fff;


} 

@media only screen and (max-width: 650px) {
  body {
    background-color: black;
  }
}

.toast {
  position: absolute;
  top: 90px;
  left: 33%;
  border-radius: 12px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-left: 6px solid #4070f4;
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: #4070f4;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 20px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #ddd;
}

.toast .progress:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}