{% extends 'auth/admin.html' %}

{% load static %}

{% block links %}

<link rel="stylesheet" href="{% static 'admin/user_reg.css' %}" />

{% endblock %}

{% block body %}

<div class="body">
    <div class="containers">
        <div class="title">Course Details</div>
        <div class="content">
      <form  method="POST">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <!-- <label for="teacher">Teacher</label> -->
            <span class="details">Teacher</span>
            <!-- <input type="text" placeholder="Enter your first name" required name="first_name"> -->
            {{ form.teacher }}
          </div>
          <div class="input-box">
            <span class="details">Title</span>
            {{ form.title }}
          </div>
          <div class="input-box">
            <span class="details">Duration</span>
            {{ form.duration }}
            {{ form.duration.errors}}
          </div>
          <div class="input-box">
            <label for="id_sex">Shift</label>
            {{ form.shift }}
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
        </div>
    </div>

{% if messages %}

{% for message in messages %}
<div class="toast" id="toast{{ forloop.counter }}">
  <div class="toast-content">
    <i class="fas fa-solid fa-check check"></i>
    <div class="message">
      <!-- <span class="text text-1">Success!</span> -->
      <span class="text text-2">{{message}}</span>
    </div>
  </div>
  <!-- <i class="fa-solid fa-xmark close"></i> -->
  <i class="fas fa-times close" id="close{{ forloop.counter }}"></i>
  <div class="progress"></div>
</div>
{%endfor%}

<script>
{% for message in messages %}
    var toast{{ forloop.counter }} = document.getElementById('toast{{ forloop.counter }}');
    var close{{ forloop.counter }} = document.getElementById('close{{ forloop.counter }}');
    
    close{{ forloop.counter }}.addEventListener('click', function() {
        removeToast(toast{{ forloop.counter }});
    });

    setTimeout(function() {
        removeToast(toast{{ forloop.counter }});
    }, 3000);
{% endfor %}

function removeToast(el) {
    el.style.opacity = '0';
    el.style.height = '0';
    el.style.margin = '0';
    el.style.padding = '0';
    setTimeout(function() {
        el.remove();
    }, 500); // delay should match the transition duration
}
</script>
  
{% endif %}
</div>

{% endblock %}