{% extends 'auth/admin.html' %}

{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'admin/user_reg.css' %}" />
{% endblock %}

{% block body %}

<div class="body">
    <div class="containers">
        <div class="title">Teacher Details</div>
        <div class="content">
      <form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <label for="teacher">Teacher:</label>
            <!-- <input type="text" placeholder="Enter your first name" required name="first_name"> -->

           {{ form.teacher }}
           {{ form.teacher.errors }}

          </div>
          <div class="input-box">
            <span class="details">Address</span>
            {{ form.address }}
          </div>
          <div class="input-box">
            <span class="details">Primary Number</span>
            {{ form.primary_number }}
          </div>
          <div class="input-box">
            <span class="details">Secondary Number</span>
            {{ form.secondary_number }}
          </div>
          <div class="input-box">
            <label for="dob">
                <!-- <span class="details">Date Of Birth</span> -->
                Date Of Birth:
            </label>
            {{ form.dob }}
          </div>
          <div class="input-box">
            <label for="id_sex">Gender</label> 
            {{ form.sex }}
          </div>

          <!-- Image Field -->

          <div class="input-box">
            <div class="img">
              <label for="id_my_image" class="custom-file-upload">Upload Image</label>
              {{ form.my_image }}
              {{ form.my_image.errors }}
            </div>
          </div>
          
        </div>
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
        </div>
    </div>

<!-- Toast Message  -->
{% if messages %}

{% for message in messages %}
<div class="toast" id="toast{{ forloop.counter }}">
  <div class="toast-content">
    <i class="fas fa-solid fa-check check"></i>
    <div class="message">
      <!-- <span class="text text-1">Success!</span> -->
      <span class="text text-2">{{message}}</span>
    </div>
  </div>
  <!-- <i class="fa-solid fa-xmark close"></i> -->
  <i class="fas fa-times close" id="close{{ forloop.counter }}"></i>
  <div class="progress"></div>
</div>
{%endfor%}

<script>
  {% for message in messages %}
  var toast{{ forloop.counter }} = document.getElementById('toast{{ forloop.counter }}');
  var close{{ forloop.counter }} = document.getElementById('close{{ forloop.counter }}');
    
    close{{ forloop.counter }}.addEventListener('click', function () {
    removeToast(toast{{ forloop.counter }});
    });

  setTimeout(function () {
    removeToast(toast{{ forloop.counter }});
    }, 3000);
  {% endfor %}

  function removeToast(el) {
    el.style.opacity = '0';
    el.style.height = '0';
    el.style.margin = '0';
    el.style.padding = '0';
    setTimeout(function () {
      el.remove();
    }, 500); // delay should match the transition duration
  }
</script>

{% endif %}

</div>

{% endblock %}