{% extends 'core/base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'edit-profile.css' %}" />
{% endblock %}

{% block body %}

<div class="main-body">
  <section class="container">
    <header>Edit Profile Details</header>
    <form class="form" method="POST">
      {% csrf_token %}
      <!-- CSRF Token for security -->

      <!-- Displaying First Name (disabled) -->
      <div class="input-box">
        <label>First Name</label>
        <input type="text" value="{{teacher.user.first_name}}" required disabled />
      </div>

      <!-- Displaying Last Name (disabled) -->
      <div class="input-box">
        <label>Last Name</label>
        <input type="text" value="{{teacher.user.last_name}}" required disabled />
      </div>

      <!-- Column containing Email and Birth Date -->
      <div class="column">
        <div class="input-box">
          <label>Email Address</label>
          <input type="email" value="{{teacher.user.email}}" name="email" required />
        </div>
        <div class="input-box">
          <label>Birth Date</label>
          <!-- <input type="text" value="1990-01-01" name="DOB" required disabled /> -->
          {{form.dob}}
        </div>
      </div>

      <!-- Column containing Primary and Secondary Phone Numbers -->
      <div class="column">
        <div class="input-box">
          <label>Phone Number (Primary)</label>
          <!-- <input type="tel" value="1234567890" name="primary_number" required maxlength="10" minlength="10" /> -->
          {{form.primary_number}}
        </div>
        <div class="input-box">
          <label>Phone Number (Secondary)</label>
          <!-- <input type="tel" value="0987654321" name="secondary_number" required maxlength="10" minlength="10" /> -->
          {{form.secondary_number}}
        </div>
      </div>

      <!-- Displaying Gender (disabled) -->
      <div class="input-box">
        <label for="gender">Gender</label>
        <br>
        {{form.sex}}
      </div>

      <!-- Address input field -->
      <div class="input-box address">
        <label>Address</label>
        <!-- <input type="text" value="1234 Main St, Anytown, USA" name="address" required /> -->
        {{form.address}}
      </div>

      <!-- Submit button -->
      <button class="button2" type="submit">Submit</button>
    </form>
  </section>
</div>
{% endblock %}